html {
    box-sizing: border-box;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: small;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.mono {
    font-family: monospace;
}

.limheight {
    max-height: 300px;
    min-height: 50px;
}

.discrete {
    font-style: italic;
    color: #808080;
}

.input {
    min-height: 2em;
}

.codefield {
    margin: 10px 0;

    width: 100%;
    resize: none;

    overflow: auto;
    word-wrap: break-word;

    background-color: #ffffff;
    border: 2px solid #f0f0f0;
    border-radius: 8px;
    border-left: 16px solid #f0f0f0;
    padding: 12px;
}

.codefield:focus {
    border-color: #808080;
    outline: none;
}

.fieldset {
    border: none;
    border-top: 1px solid gray;
    min-width: unset;
    padding-right: 0;
}

.fieldset legend {
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-radius: 8px;
    padding: 0 8px;
    font-weight: bold;
}

body > #container {
    border: 1px solid lightgray;
    padding: 1.5em;
    overflow-x: hidden;
}

#input .document {
    border-left: 3px solid lime;
    border-radius: 8px;
    padding-left: 4px;
    padding-top: 0.8em;
    margin-bottom: 1em;
}

#input .document .header {
    display: block;
    border-left: 3px solid darkred;
    border-radius: 8px;
    padding-left: 8px;
    padding-top: 0.8em;
    text-decoration: none;
}

#input .document .header u {
    text-decoration: none;
}

#input .document .header span {
    border: 1px dotted lightgray;
    margin-right: 0.5em;
}
#input table td:empty::before,
#input .document .header span:empty::before {
    content: "N/A";
    color: lightgray;
    font-style: italic;
    font-family: monospace;
}
#input .document .header span:hover {
    border-color: gray;
}
#input .document .header span.col_4 {
    font-family: monospace;
}
#input .document .header span.col_1 {
    font-weight: bolder;
}

#input .document .link {
    display: block;
    border-left: 3px solid darkblue;
    border-radius: 8px;
    padding-left: 4px;
    padding-top: 0.8em;
}

#input .document .data > p {
    border-left: 3px solid orange;
    border-radius: 8px;
    margin: 0;
    padding: 0.8em 0 0.2em 4px;
}

#input .document .data {
    border-left: 3px solid darkmagenta;
    border-radius: 8px;
    margin: 0;
    padding: 0.8em 0 0 4px;
}

#input * {
    position: relative;
}

#input .document::before,
#input .document .data > p::before,
#input .document .data > table::before,
#input .document .data::before,
#input .document .header::before,
#input .document .link::before {
    position: absolute;
    left: 4px;
    top: 0;
    text-align: left;
    font-size: 60%;
    background-color: rgba(255,255,255,0.8);
    z-index: 1;
}
#input .document .data > p::before {
    content: "<p>";
    color: orange;
}
#input .document .data > table::before {
    content: "<table>";
    color: green;
}
#input .document .header::before {
    content: '<a class="header">';
    color: darkred;
}
#input .document .link::before {
    content: '<div class="link">';
    color: darkblue;
}
#input .document .data::before {
    content: '<div class="data">';
    color: darkmagenta;
}
#input .document::before {
    content: '<div class="document">';
    color: lime;
}

#input table {
    border: 1px dashed lightgray;
    border-left: 3px solid green;
    border-radius: 8px;
    padding-left: 4px;
    padding-top: 0.8em;
    border-collapse: separate;
    border-spacing: 0;
    overflow-x: auto;
    width: 100%;
}

#input table td {
    border: 1px dotted lightgray;
}
#input table td:hover {
    border-color: gray;
}

#input table tr:last-child td {
    border-bottom: none;
}
#input table tr:first-child td {
    border-top: none;
}
#input table td:last-child {
    border-right: none;
}
#input table td:first-child {
    border-left: none;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

button, input {
    border: 1px solid darkgray;
    border-radius: 0;
    font: inherit;
}

button, input[type="submit"] {
    background: linear-gradient(#f4f4f4, #dbdbdb);
}

button:hover, input[type="submit"]:hover {
    border-color: gray;
}

button:active, input[type="submit"]:active {
    background: linear-gradient(#dbdbdb, #efefef);
}

.danger {
    color: red;
    border: 1px solid red;
    border-radius: 8px;
}

div.danger {
    padding: 12px;
}

button.danger {
    border: 1px solid red;
    border-radius: 0;
    background: linear-gradient(#ffefef, #ecc7c7);
}

button.danger:hover {
    border-color: darkred;
}

button.danger:active {
    background: linear-gradient(#ecc7c7, #ffefef);
}

button.close {
    float: right;
    font-size: 150%;
    background: unset;
    border: none;
    color: inherit;
    outline: none;
}

button.close:hover {
    color: black;
}

/* Rows and columns */

.row {
    width: 100%;
}

.row:after {
    content: "";
    clear: both;
    display: table;
}

.col, .col-1, .col-2, .col-3, .col-4,
.col-5, .col-6, .col-7, .col-8, .col-9,
.col-10, .col-11, .col-12  {
    margin: 0;
    padding: 0.5em;
    float: left;
}

.col-1 { width: 8.333%; }
.col-2 { width: 16.666%; }
.col-3 { width: 25%; }
.col-4 { width: 33.333%; }
.col-5 { width: 41.666%; }
.col-6 { width: 50%; }
.col-7 { width: 58.333%; }
.col-8 { width: 66.666%; }
.col-9 { width: 75%; }
.col-10 { width: 83.333%; }
.col-11 { width: 91.666%; }
.col, .col-12 { width: 100%; }

/* Button group */

.btn-group {
    margin: 0.2em 0;
}

.btn-group::after {
    content: "";
    display: block;
    clear: both;
}

.btn-group > * {
    margin: 0;
    float: left;
    border-left-width: 0.5px;
    border-right-width: 0.5px;
    border-radius: 0;
    vertical-align: middle;
}

.btn-group > *:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-left-width: 1px;
}

.btn-group > *:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right-width: 1px;
}

.form {
    display:table;
    table-layout: auto;
}

.form-group {
    display: table-row;
    width: 100%;
}

.form-group > * {
    display: table-cell;
    vertical-align: middle;
}
.form-group > label {
    width: 100%;
}

input:valid+.validation:after {
    content: '✓';
    padding-left: 5px;
}

input:invalid+.validation:after,
input[invalid]+.validation:after {
    content: '✖';
    padding-left: 5px;
    color: red;
}

#scoring_items th {
    margin: 0 0.7em;
}

#scoring_items tbody::after {
    content: '';
    display: block;
    height: 1em;
}

.score-date {
    font-family: monospace;
    background: #eee;
    padding: 0.2em 0.4em;
}

.score-list {
    list-style: none;
    margin: 0;
}

.score-pos, .score-neg {
    display: inline-block;
    padding: 0.2em 0.5em;
    font-family: monospace;
    font-size: 125%;
    color: white;
    width: 4em;
    text-align: center;
}

.score-pos {
    background: #22cc88;
}

.score-neg {
    background: #dd6655;
}

.discrete .score-pos, .score-pos.discrete {
    background: transparent;
    color: #353;
}
.discrete .score-neg, .score-neg.discrete {
    background: transparent;
    color: #533;
}
